<nav>
    <div>
        <a></a>
        <ul>
            <li>
                <a>Home</a>
            </li>
        </ul>
        <div>
            <div>
                <input placeholder="Rechercher" [(ngModel)]="searchInput">
                <!--Liaison bidirectionnelle, la propriétédans la classe du composant est modifiable dans les deux sens-->
                <button (click)="search()">Rechercher</button> <!--(click) est un binding d'évènement-->
            </div>
        </div>
    </div>
</nav>
