<div>
    <h2>
        Affichage de la date actuelle
    </h2>
    <p>Date en format court : {{today | date: 'shortDate'}}</p>
    <p>Date en format moyen : {{today | date: 'mediumDate'}}</p>
    <p>Date en format long : {{today | date: 'longDate'}}</p>
    <p>Date en format complet : {{today | date: 'fullDate'}}</p>
</div>
<div>
    <h2>
        Affichage de l'heure actuelle
    </h2>
    <p>Heure en format court : {{today | date: 'shortTime'}}</p>
    <p>Heure en format moyen : {{today | date: 'mediumTime'}}</p>
    <p>Heure en format long : {{today | date: 'longTime'}}</p>
</div>
<div>
    <h2>
        Pipes les plus courants dans Angular
    </h2>
    <p>Majuscules : {{str | uppercase}}</p>
    <p>Minuscules : {{str | lowercase}}</p>
    <p>Nombre en devise : {{nb | currency:'EUR':'symbol':'1.2-2'}}</p>
    <p>Nombre en chaîne de caractère : {{nb | number:'1.0-0'}}</p>
    <p>Nombre en pourcentage : {{nb | percent:'1.2-2'}}</p>
</div>
<div>
    <h2>
        Chaînage
    </h2>
    <p>Date + Majuscules : {{today | date:'dd/MM/yyyy' | uppercase}}</p>
</div>