<div>
    <h2>
        Affichage de la date actuelle
    </h2>
    <p>Date en format court : {{today | date: 'shortDate'}}</p>
    <p>Date en format moyen : {{today | date: 'mediumDate'}}</p>
    <p>Date en format long : {{today | date: 'longDate'}}</p>
    <p>Date en format complet : {{today | date: 'fullDate'}}</p>
</div>
<div>
    <h2>
        Affichage de l'heure actuelle
    </h2>
    <p>Heure en format court : {{today | date: 'shortTime'}}</p>
    <p>Heure en format moyen : {{today | date: 'mediumTime'}}</p>
    <p>Heure en format long : {{today | date: 'longTime'}}</p>
</div>